.content-wrapper
  %section.content-header
    %h1
      = content_for :title
      %small
        = content_for :description
    = render('layouts/admin4rails/breadcrumbs')

  %section.content
    = yield
