= get_datatable(@resource, 'datatable')

%script
  = "columns = #{raw get_datatable_columns(@resource)}"

:coffeescript

  $ ->
    $('#datatable').DataTable
      'ajax': '/admin4rails/posts.json'
      'columns': columns
